#header{
  color: red;
  width: auto; 
  height: auto; 
  margin: 0px auto;
}
 #home {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #9DE0AD;
  color: #008800;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  border: 4px solid #008800;
  box-shadow: 5px 5px 5px #888;
  display: inline-block;
  margin-left: 200px;
  margin-top: 150px;
}
 
 #about {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #F38630;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  border: 4px solid #FA6900;
  box-shadow: 5px 5px 5px #888;
  display: inline-block;
  margin-left: 200px;
  margin-top: 150px;
 }

#contact {
  width: 200px;
  height: 200px;
  background-color: #eee;
  border-radius: 100%;
  color: #CC0000;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  border: 4px solid #CC0000;
  box-shadow: 5px 5px 5px #888;
  display: inline-block;
  margin-left: 200px;
  margin-top: 150px;
}

.hme{
 margin-top: 80px;
 font-size: 30px;
 font-family: arial; 
}

.abt{
 margin-top: 80px;
 font-size: 30px;
 font-family: arial; 
}

.cnt{
 margin-top: 80px;
 font-size: 30px;
 font-family: arial; 
}

#footer{
clear: both;
height: 0.5em; margin: 0; padding: 1em;
text-align: center;
background:#CCFFFF; color #D4E6F4;
margin-top: 340px;
}


